
      <!-- left block -->
      <div class="was-show-left-block">
        <div class="was-field--name-field-one-sheet">
          <img src="{{ .context.Params.bannerImage }}" width="80%" alt="&nbsp;&nbsp; Sorry, this image has been removed." typeof="foaf:Image" class="img-responsive" />
          <p/>
          <!-- <div id="myFrame" class="pre-show-iframe">
            <iframe src="{{ .context.Params.iframeURL }}" width="100%" height="165"></iframe>
          </div> -->
        </div>
      </div>  

      <!-- right block -->
      <div class="was-show-right-block">
        <hr/>
          <div class="synopsis">{{ .context.Content }}</div>
        <hr/>

        {{ if .context.Params.audio }}
          <audio id="clip-audio-{{- .position }}" autoplay>
            <source src="{{ .context.Params.audio }}" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
        {{ end }}
      </div>  
