<style>
  
  div.recognition {
    display: block;
    border: 4px solid black;
    padding: 1em;
    background: #d3d8c3;
    margin: auto;
    text-align: center;
    border-radius: 8px;
    font-size: smaller;
    margin-bottom: 1em;
  }

  .recognition ul { display:block; padding:0; text-align:center }
  .recognition li { display:inline }
  .recognition li a { white-space:nowrap }
  .recognition li:after { content:" "; letter-spacing:1em; background:center center no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwAAADsABataJCQAAABl0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC4xMkMEa+wAAAAnSURBVBhXY/Dz89MA4sNA/B9Ka4AEYQIwfBgkiCwAxjhVopnppwEApxQqhnyQ+VkAAAAASUVORK5CYII=); }
  
  .recognition-item { font-weight: bold; }
  
</style> 


<div class="recognition">
  <div class="recognition-pre">
    The Wieting needs volunteers!  Sign up now using our <a href='https://wieting.tamatoledo.com/about/contact'>Contact form</a>.
  </div>
  <ul>
    <li class="recognition-item">Perks include: free admission, popcorn and beverage!</li>  
    <li class="recognition-item">Students can earn community service hours!</li>  
  </ul> 
</div>
